<p>Record workshare service for members simultaneously. Checking the checkbox will give the required minimum for the month, alternately, you can specify fewer or greater hours. Task description is optional.</p><br>
<%= form_for(@service) do |f| %>
  <div class="field">
    <%= f.date_select :did_at %>
  </div>

  <table>
  <tr><th>Check or<th>Hours<th>Name<th>Workshare Group<th>Task</tr>
  <%
  # precompute quantities to speed things up a bit
  Member.all(:order => [:service_group,:name1]).each{ |member|
  %>
    <tr>
    <td><input type="checkbox" name="service[done][<%= member.id %>]" id="service_done_<%= member.id %>" value="1" \>
    <td><input type="text" name="service[hours][<%= member.id %>]" 
               id="service_hours_<%= member.id %>" size=4"/>
    <td><%= member.name %>
    <td><%= member.service_group %>
    <td><input type="text" name="service[task][<%= member.id %>]" 
               id="service_task_<%= member.id %>" size="30"/>
  <% } %>
  </table>

  <br />
  <div class="actions">
    <%= image_submit_tag("/images/save_button.s.png",:border=>0) %>
  </div>
<% end %>
