<%= form_for(@stock) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity, :size => 4 %>
  </div>
  <div class="field">
    <%= f.label :cost_per_unit %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :markup_percent %><br />
    <%= f.text_field :markup_pct %>
  </div>
  <div class="field">
    <%= f.label :markup_constant %><br />
    <%= f.text_field :markup_const %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :supplier %><br />
    <%= f.select :supplier_id, Supplier.all.collect{ |e| [e.name,e.id] } %>
  </div>
  <div class="field">
    <%= f.label :product %><br />
    <%= f.select :product_id, Product.all.collect{ |e| [e.name,e.id] } %>
  </div>
  <div class="field">
    <%= f.label :limited %><br />
    <%= f.check_box :limited %>
  </div>
  <div class="actions">
    <%= image_submit_tag("/images/save_button.s.png",:border=>0) %>
  </div>
<% end %>
