<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_member.admin %>
  <div class="field">
    <%= f.label :member %><br />
    <%= f.select :member_id, Member.all.collect{ |e| [e.name,e.id] } %>
  </div>

  <div class="field">
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </div>

  <div class="field">
    <%= f.label :taken %><br />
    <%= f.check_box :taken %>
  </div>

  <div class="field">
    <%= f.label :paid_with_paypal %><br />
    <%= f.check_box :paid_with_paypal %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :will_pickup_on %><br />
    <% CalendarDateSelect.format=(:iso_date)%>
    <%= #f.calendar_date_select :pickup_on, :valid_date_check => "date.getDay() == 0 || date.getDay() == 3", :time => false 
        f.calendar_date_select :pickup_on, :valid_date_check => "date.getDay() == 0", :time => false
    %>
  </div>

  <h2>Order Items</h2>
  <div id="order_details">
  <% f.fields_for :order_details do |f2| %>
    <% q = f2.object.quantity.nil? ? 0.0 : f2.object.quantity %>
    <div class="order_detail">
    <script type="text/javascript">order_detail_count++;</script>
    <%= f2.text_field :quantity, :size => 4 %>
    <%= f2.select :stock_id, Stock.where("(limited = 'f') OR (limited = 't' AND quantity > #{0.0-q})",:order => "product_id,name").collect{ |e| 
          ["#{e.name} (#{sprintf('$%.02f',e.final_cost)}/#{e.product.units})    [#{e.origin}/#{e.supplier.name}]",e.id] } %>
    <%= link_to_function image_tag("/images/nix_button.s.png",:style=>"border:0;text-decoration:none;"), "$(this).previous('input').value = '0'; $(this).up('.order_detail').hide()" %>
    </div>
  <% end %>
  <%= render(:partial => 'order_detail', :locals => { :pf => f, :order_detail => OrderDetail.new }) %>
  </div>
  <%= add_order_detail_link f %>


  <br /><br />

  <div class="actions">
    <%= image_submit_tag("/images/save_button.s.png") %>
  </div>
<% end %>
