<%= form_for(@member) do |f| %>
  <div class="field">
    <%= f.label :name1 %><br />
    <%= f.text_field :name1 %>
  </div>
  <div class="field">
    <%= f.label :name2 %><br />
    <%= f.text_field :name2 %>
  </div>
  <div class="field">
    <%= f.label :name3 %><br />
    <%= f.text_field :name3 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :extra_emails %><br />
    <%= f.text_field :extra_emails %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <% if current_member.admin %>
    <div class="field">
      <%= f.label :joined_on %><br />
      <%= f.text_field :joined_on, :class => 'datepicker' %>
    </div>
    <div class="field">
      <%= f.label :workshare_group %><br />
      <%= f.text_field :service_group %>
    </div>
    <div class="field">
      <%= f.label :disabled %><br />
      <%= f.check_box :disabled %>
    </div>
    <div class="field">
      <%= f.label :disabled_reason %><br />
      <%= f.text_area :disabled_reason, :size => "30x3" %>
    </div>
    <div class="field">
      <%= f.label :admin %><br />
      <%= f.check_box :admin %>
    </div>

  <% end %>

  <div class="actions">
    <%= image_submit_tag("/images/save_button.s.png",:border=>0) %>
  </div>
<% end %>

<script type="text/javascript">
$( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
</script>

