<h1>Members List</h1>

<table>
  <tr>
    <th>
    <th>Name(s)</th>
    <th>Email(s)</th>
    <th>Phone</th>
    <th>Member Since</th>
    <% if current_member.admin %>
    <th>Orders</th>
    <th>Service Hours since <%= Member::ServiceStartDate.strftime('%m/%d/%Y') %></th>
    <th>Admin</th>
    <th>Active</th>
    <th></th>
    <% end %>
  </tr>

<%
 i = 1
 @members.each do |member| %>
  <tr>
    <th><%= i %>
    <td><%= member.name %></td>
    <td><%= member.email %> <%= member.extra_emails %></td>
    <td><%= member.phone %></td>

    <td><%= member.created_at.strftime('%Y-%m-%d') %> (<%= member.days_as_member %> days)</td>
    <% if current_member.admin %>
    <td><%= member.orders.length %>
    <td style="background: <%= member.service_balance > 0 ? "yellow" : "white" %>;"><%= sprintf('%.01f',member.service_total) %> <% if member.service_balance > 0 %>(short <%= sprintf('%.01f',member.service_balance) %> hours)<% end %>
    <td><% if member.admin %><div style="text-align: center;"><img src="/images/check_on.s.png"></div><% end %></td>
    <td><% if member.active %><div style="text-align: center;"><img src="/images/check_on.s.png"></div><% end %></td>
    <td><%= link_to image_tag("/images/view_button.s.png",:border=>0), member %><br>
        <%= link_to image_tag("/images/edit_button.s.png",:border=>0), edit_member_path(member) %><br>
        <%= link_to image_tag("/images/nix_button.s.png",:border=>0), member, :confirm => 'Are you sure?', :method => :delete %><br>
    <% end %>
  </tr>
<% 
i += 1
end %>
</table>
